*.env
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.sh
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
server/datasources.json
server/config.json.bash_history
.config
.node-gyp
.npm
.pm2
.bash_history
